<!-- templates/base.html -->
<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Bib Readers{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <nav class="nav">
    <div class="container nav-inner">
      <div class="brand"><span class="dot"></span> Bib Readers</div>
      <div class="row">
        <a class="btn" href="/">Catalogue</a>
        <a class="btn" href="/recommandation-par-description">Recommandations</a>
        <a class="btn" href="/profil">Mon profil</a> <!-- si tu as une route /profil -->
        <a class="btn" href="/login">Connexion</a>
        <a class="btn" href="/inscription">Inscription</a>

      </div>
    </div>
  </nav>

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <footer class="container">
    <div>© Bib Readers — projet démo</div>
  </footer>
  <script src="/static/js/main.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
